/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define MAC 1
#define NAV 2
#define NUM 3
#define FN 4

&sk {
    release-after-ms = <2000>;
    quick-release;

    /delete-property/ ignore-modifiers;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------------------------------------------------------
            // | GRAVE      | 1     | 2    | 3    | 4   | 5   |                                                  | 6   | 7   | 8   | 9   | 0   | -     |
            // | TAB        | Q     | W    | E    | R   | T   | ESC      |                            | ESC      | Y   | U   | I   | O   | P   | =     |
            // | LCTRL      | A     | S    | D    | F   | G   | LS(LALT) |                            | \        | H   | J   | K   | L   | ;   | '     |
            // | LSHFT      | Z     | X    | C    | V   | B   | LtFN DEL | HOME      |  | PG_UP       | LtFN F12 | N   | M   | ,   | .   | /   | RSHFT |
            // | LtNUM LEFT | RIGHT | LALT | LGUI | SPACE     | BSPC     | LtNAV END |  | LtNAV PG_DN | DEL      | ENTER     | [   | ]   | UP  | DOWN  |

            bindings = <
&kp GRAVE   &kp N1     &kp N2    &kp N3     &kp N4     &kp N5                                                     &kp N6   &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB     &kp Q      &kp W     &kp E      &kp R      &kp T     &to 1                               &kp ESC      &kp Y    &kp U      &kp I      &kp O     &kp P     &kp EQUAL
&kp B       &kp A      &kp S     &kp D      &kp F      &kp G     &kp LS(LALT)                        &kp BSLH     &kp H    &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT   &kp Z      &kp X     &kp C      &kp V      &kp B     &lt 2 DEL     &kp SPACE  &kp PG_UP  &lt 2 F12    &kp N    &kp M      &kp COMMA  &kp DOT   &kp FSLH  &sk RSHFT
&lt 2 LEFT  &kp RIGHT  &kp LALT  &kp SPACE  &kp SPACE  &kp BSPC  &lt 2 END                           &lt 2 PG_DN  &kp DEL  &kp ENTER  &kp LBKT   &kp RBKT  &kp UP    &kp DOWN
            >;
        };

        layer_1 {
            bindings = <
&trans  &bootloader  &trans  &trans  &trans  &trans                                  &trans  &bootloader  &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans       &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans       &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans
&trans  &trans       &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans       &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
